:root {
  --primary-c: hsl(256, 26%, 20%);
  --secondary-c: hsl(216, 30%, 68%);
  --dark-violet: hsl(270, 9%, 17%);
  --dark-gray: hsl(273, 4%, 51%);
  --light-gray: hsl(0, 0%, 98%);
  --h-font: 'DM Serif Display', serif;
  --body-font: 'Karla', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:first-child {
  margin-top: 0;
}

body {
  font-family: var(--body-font);
  height: 100%;
  line-height: 1.4;
  font-size: 100%;
}

h1, h2, h3 {
  margin: 0;
  font-family: var(--h-font);
  letter-spacing: 2px;
  font-weight: 400;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  letter-spacing: 1px;
}

section {
  position: relative;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body.no-overflow {
  overflow: hidden;
}

.is-hidden {
  display: none;
}

.u-text-center {
  text-align: center;
}

.u-inherit-ff {
  font-family: inherit;
}

.u-inherit-weight {
  font-weight: inherit;
}

.container {
  padding: 0 25px;
  max-width: 1440px;
  margin-inline: auto;
}

.line {
  max-width: 50%;
  margin: 0 auto;
  background-color: var(--secondary-c);
  display: inline-block;
  width: 100%;
  height: 1px;
  border: 0;
}

.line--short {
  max-width: 30%;
}

.line--long {
  max-width: 100%;
}

.logo {
  max-width: 120px;
}

.navigation-wrap {
  display: flex;
  height: 78px;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.menu {
  height: 32px;
  width: 32px;
  background: url('../images/icon-hamburger.svg') no-repeat;
}

.menu.is-active {
  background-image: url('../images/icon-close.svg');
}

.navbar {
  position: absolute;
  top: 78px;
  color: #fff;
	margin-left: -25px;
	margin-right: -25px;
	width: calc(100% + 50px);
  height: 0;
  overflow: hidden;
  z-index: 10;
  transition: ease-in height 400ms;
  background: url(../images/bg-pattern-mobile-nav.svg) no-repeat bottom / 100% 230px var(--dark-violet);
}

.navbar.is-active {
  height: calc(100vh - 78px);
}

.navbar__list {
  min-height: inherit;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.navbar__list-item:not(:last-child) {
  padding-top: 45px;
}

.navbar__list-item:last-child {
  padding-top: 65px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.btn-link {
  display: block;
  border: 1px solid;
  padding: 19px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn-link--space {
  margin-top: 40px;
}

.btn-link--small {
  padding: 10px 14px;
  max-width: 180px;
}

.hero__img {
  width: 100%;
}

.main-section--dark {
  background-color: var(--primary-c);
  padding: 100px 0 93px 0;
  text-align: center;
  color: #fff;
}

.main-section--dark .cta-heading {
  color: #fff;
}

.main-section::before,
.main-section::after,
.cta-wrap::before,
.footer-section::before {
  content: '';
  position: absolute;
  z-index: 1;
  height: 100%;
}

.main-section::before {
  background: url('../images/bg-pattern-intro-left-mobile.svg') no-repeat;
  background-size: 50%;
  top: 0;
  left: 0;
  width: 100%;
}

.main-section::after {
  background: url(../images/bg-pattern-intro-right-mobile.svg) no-repeat;
  width: 120px;
  bottom: -74%;
  right: 0;
}

.main-section__inner {
  position: relative;
  z-index: 1;
}

.main-section__text-wrap {
  margin-top: 18px;
  margin-bottom: 38px;
}

.main-section__text-wrap > :last-child {
  margin-bottom: 0;
}

.main-section__text {
  margin-bottom: 40px;
}

.cta-wrap,
.cta-wrap--secondary {
  position: relative;
  text-align: center;
  padding: 100px 0;
}

.cta-wrap::before {
  background: url(../images/bg-pattern-intro-right-mobile.svg) no-repeat;
  width: 120px;
  right: 0;
  top: 0;
}

.cta-wrap__subtitle {
  margin-top: 25px;
  margin-bottom: 50px;
}

.cta-wrap--space {
  margin-left: 28px;
  margin-right: 28px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.cta-heading {
  color: var(--dark-violet);
  margin: 40px 0 30px 0;
  position: relative;
}

.cta-heading--gray {
  color: var(--dark-gray);
}

.cta-heading--default {
  font-family: var(--body-font);
  text-transform: uppercase;
  font-weight: 700;
}

.cta-heading--no-margin {
  margin: 0;
}

.cta-heading--large {
  font-size: 32px;
}

.cta-heading--small {
  font-size: 24px;
}

.cards-list__item:not(:last-child) {
  margin-bottom: 50px;
}

.card__ico {
  margin-bottom: 30px;
}

.card__title {
  font-weight: 700;
  margin-bottom: 20px;
}

.about-card {
  padding: 80px 30px;
  color: #fff;
  text-align: center;
  position: relative;
  background-color: var(--primary-c);
  overflow: hidden;
}

.about-card__inner {
  position: relative;
  z-index: 1;
}

.about-card::before {
	content: "";
	background: url(../images/bg-pattern-intro-right-mobile.svg) no-repeat;
	background-size: cover;
	position: absolute;
	top: -76px;
	width: 140px;
	height: 100%;
	right: 0;
}

.about-card__title {
  margin-bottom: 30px;
}

.about-us {
  margin-bottom: 50px;
}

.about-us--first {
  margin-top: 50px;
}

.about-us--last {
  margin-bottom: 0;
}

.about-us__title {
  margin-bottom: 40px;
}

.about-us--font {
  text-transform: uppercase;
  font-family: var(--body-font);
  font-weight: 600;
}

.footer-section {
  background-color: var(--light-gray);
  padding: 80px 0;
  margin-top: 80px;
  text-align: center;
  position: relative;
}

.footer-section::before {
  background: url(../images/bg-pattern-footer-mobile.svg) no-repeat 100% -29px / cover;
  width: 100%;
  height: 190px;
  top: 0;
  left: 0;
}

.footer-section__footer {
  position: relative;
  z-index: 1;
}

.social-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-section__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 180px;
  margin: 30px 0;
}

@media screen and (max-width: 768px) {
  .d-sm-none {
    display: none;
  }
}

@media screen and (min-width: 1300px) {
  body {
    position: relative;
  }

  .container {
    padding: 0 120px;
  }

  .navigation__logo {
    flex: 1 1 100%;
  }

  .social-section {
    flex-direction: row;
    justify-content: space-between;
  }

  .btn-link--space {
    margin-top: 0;
  }

  .cta-heading--large {
    font-size: 56px;
  }

  .cta-wrap--secondary {
    padding-top: 200px;
  }

  .main-section--desktop {
    display: flex;
    align-items: center
  }

  .main-section--desktop .cta-heading {
    flex: 1;
    text-align: left;
  }

  .btn-link {
    max-width: 200px;
  }

  .cta-heading {
    margin-top: 0;
    line-height: 48px;
  }

  .cta-wrap--secondary {
    text-align: left;
  }

  .line--desktop-short {
    max-width: 10%;
  }

  .hero-wrapper {
    position: relative;
    display: grid;
  }

  .navbar {
    position: static;
    height: 100%;
    background-image: none;
    background-color: transparent;
    color: var(--light-gray);
    display: flex;
  }

  .navbar__list {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .navbar__list-item.navbar__list-item {
    padding: 0;
    color: var(--dark-gray);
    flex: 1;
  }

  .navbar__list-item .btn-link {
    margin-right: 0;
    color: #000;
  }

  .navigation__menu {
    display: none;
  }

  .hero {
    z-index: 1;
    width: 500px;
    height: 600px;
    grid-area: -1 / 1;
    margin-left: auto;
    margin-right: 120px;
    margin-bottom: -120px;
    padding-top: 100px;
  }

  .main-section {
    grid-area: -1 / 1;
    overflow: hidden;
  }

  .main-section::before {
    background-image: url(../images/bg-pattern-intro-left-desktop.svg);
    width: 300px;
    top: 70%;
  }

  .main-section::after {
    background-image: url(../images/bg-pattern-intro-right-desktop.svg);
    bottom: 0;
    width: 450px;
    top: -66px;
    right: -100px;
    background-size: contain;
  }

  .hero__img {
    height: 100%;
    object-fit: cover;
  }

  .main-section__inner {
    text-align: left;
    max-width: 500px;
  }

  .main-section__inner .btn-link {
    margin-left: 0;
  }

  .cards-list {
    display: flex;
    column-gap: 25px;
  }

  .cards-list__item.cards-list__item {
    margin-bottom: 0;
  }

  .card__title {
    font-size: 24px;
  }

  .card__text {
    font-size: 16px;
    line-height: 21px;
  }

  .footer-section::before {
    width: 500px;
    height: 300px;
  }

  .about-card {
    padding: 60px;
  }

  .about-card::before {
    top: 0;
    background: url(../images/bg-pattern-intro-right-desktop.svg);
    width: 350px;
  }

  .about-card__inner {
    display: flex;
    text-align: left;
  }

  .about-card__inner .btn-link {
    margin-right: 0;
    align-self: center;
  }

  .about-card__title {
    margin-bottom: 0;
    font-size: 48px;
  }

  .about-us-wrapper {
    display: flex;
    margin-top: 50px;
  }

  .about-us {
    margin: 0;
    flex: 1 1 25%;
    text-align: left;
  }

  .about-us__list-item:not(:last-child) {
    padding-bottom: 20px;
  }

  .footer-section {
    margin-top: 150px;
  }
}